@font-face {
  font-family: "Poppins";
  src:
    url(../fonts/woff2/Poppins-Regular.woff2) format("woff2"),
    url(../fonts/woff/Poppins-Regular.woff) format("woff"),
    url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "DMSans";
  src:
    url(../fonts/woff2/DMSans-Regular.woff2) format("woff2"),
    url(../fonts/woff/DMSans-Regular.woff) format("woff"),
    url(../fonts/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}
